  
  /* -------------------------------------------------------------------------
     begin Scroll Down Button
   * ------------------------------------------------------------------------- */
  a.scroll_down {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    height: 50px;
    width: 30px;
    bottom: 60px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
  }
  a.scroll_down:before {
    position: absolute;
    top: 10px;
    left: 50%;
    content: '';
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: #fff;
    border-radius: 100%;
    -webkit-animation: scroll_down_btn-animation 2s infinite;
    animation: scroll_down_btn-animation 2s infinite;
    box-sizing: border-box;
  }
  
  @keyframes scroll_down_btn-animation {
    0% {
      transform: translate(0, 0);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      transform: translate(0, 20px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  
  @-webkit-keyframes scroll_down_btn-animation {
    0% {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      -webkit-transform: translate(0, 20px);
      transform: translate(0, 20px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  
  /* -------------------------------------------------------------------------
     end Scroll Down Button 
   * ------------------------------------------------------------------------- */
  
  /* ## Test ## */

  /*
  Floating Social bar
  */

.floating-share-buttons{
   top: 60%;
   left: 0;
   transform: translateY(-50%);
   position: fixed;
   z-index: 100;
}

.icons ul{
  padding: initial;
}


.icons ul li{
  height: 60px;
  width: 60px;
  list-style-type: none;
  padding-left: 6px;
  padding-top: 12px;
  margin-top: 5px;
  color: #fff;
  background: #00629b;

}


.icons ul li:hover {
  padding-left: 30px;
  width: 80px;
  transition: 0.25s;
}

@media only screen and (max-width: 600px) {
  .icons ul li{
    height: 40px;
    width: 50px;
    list-style-type: none;
    padding-left: 6px;
    padding-top: 6px;
    margin-top: 5px;
  }

  .icons ul li:hover {
    padding-left: 10px;
    width: 60px;
    transition: 0.25s;
  }

}

/*
--end of floating share buttons
*/